<h1><%= @snack.name %></h1>
<h2>Price: <%=number_to_currency(@snack.price)%></h2>
<h3>Locations</h3>
<% @snack.machines.each do |machine| %>
<li><%= machine.location %>:
<%= machine.snack_count %> kinds of snacks,
average price of <%= number_to_currency(machine.price_average) %></li>
<% end %>
